@import url('https://fonts.googleapis.com/css2?family=Trirong:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body {
    background-color: rgb(144, 187, 236);
    background-image: url("https://th.pngtree.com/free-blue-background/light-blue");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.dot{
    border-style: groove;
    border-width: 5px ;
}

div{
    width: 300px;
    height: 200px;
    background-color: aqua;
    padding: 20px;
    border: 10px;
    margin-top: 100px;
    margin-left: 100px;
    text-align: justify;
    text-decoration-line: overline;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-style: italic;
    font-weight: bold;
}